.codecorun_por_rules_fields{
    padding: 15px 0;
}


.codecorun_por_rule_field{
    border-top: 1px solid #CCC;
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
}

.codecorun_por_block{
    display: block;
}

.codecorun_por_tooltip{
 font-size: 17px;
}

.codecorun_por_tooltip{
    position: relative;
    vertical-align: middle;
}
.codecorun_por_tooltip i{
    position: absolute;
    font-size: 11px;
    font-style: normal;
    z-index: 10;
    width: 100px;
    background: #666;
    color: white;
    padding: 10px;
    line-height: 13px;
    border-radius: 5px;
    font-family: arial;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    left: 20px;
    text-align: left;
}

.codecorun_por_tooltip:hover i{
    display: block;
}

.codecorun_por_rule_field:hover .codecorun_por_condition_remove_field{
    display: block;
}
.codecorun_por_condition_remove_field{
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.codecorun_por_rule_condition{
    position: absolute;
    margin-top: -35px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
}

.codecorun_por_rule_condition select{
    margin-left: 10px;
}

.codecorun_label_inline{
    margin-right: 20px;
}

select.codecorun_por_rules_select{
    display: inline;
    margin-right: 5px;
}
.codecorun_divider{
    margin-bottom: 20px;
}

.codecorun_add_list_field{
    margin: 0 3px !important;
}

.codecorun_por_no_values{
    text-align: center;
    padding: 10px 0;
    border: 1px solid #CCC;
}